/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  width: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Base Styles */
html {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 100%;
  width: 100%; */
  font-size: 16px;
}
body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 1200px; */
  /* background:	#202322; */
  font-size: 1em;
  color: #e2e3ed;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
ul,
ol {
  list-style: none;
}
a {
  color: #e2e3ed;
     text-decoration: none;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.875em;
}
h3, 
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
}
p {
  font-size: 0.875em;
  line-height: 1.285em;
}
img {
  width: 100%;
}
figure {
  margin: 0;
}
.content-wrapper {
  width: 90%;
  margin: 10px 0;
}

/* Header and Footer Base Styles */
header,
footer {
  background-color: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
header {
  padding: 15px 30px;
}
/* header img {
  width: 80%;
  padding: 10px 25px;
} */
header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}
.header-divider {
  background: #3a3a3a;
  width: 100%;
  height: 1px;
  margin: 10px 0 10px 0;
  
}
header nav {
  /* width: 30%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.125em;
  font-family: 'Open Sans', sans-serif;
}
header figure {
  width: 80%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; */
}
footer {
  background: #202322;
  width: 100%;
}
footer h2 {
  text-align: center;
  font-size: 1em;
}
footer p {
  text-align: center;
  font-size: 0.875em;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
footer .social {
  padding:20px 0 0;
}
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .copyright {
  padding: 20px 0;
}

/* ====== Mobile Styles ====== */

/* hero seciton */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: url('../img/jake-melara-30679-unsplash.jpg');
  background-size: cover;
  background-position: center;
}
.hero .content-wrapper {
  height: 400px;
}
.hero h1 {
  font-size: 2.25em;
  margin: 10px 0 0;
  line-height: 1em;
  
}

/* aside section */
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background:#527158;
}
/* aside .content-wrapper {
  height: 330px;
} */
aside h3 {
  font-size: 1.125em;
  padding: 20px 0 0px 0;
  margin: 0px 0 0;
}
aside p {
  font-size: 0.875em;
  line-height: 1.125em;
}
aside .form {
  margin-top: 0px;
  margin-bottom: 15px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}
/* features section */
.features {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url('../img/rawpixel-800820-unsplash1.jpg');
  background-position: center;
  background-size: cover;
}
.features-items {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.features .features-items {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.features h2 {
  font-size: 1.750em;
  font-weight: 500;
  margin-bottom: 50px;
}
.features p {
  margin: 0;
}
.features article {
  width: 60%;
  margin: 30px 0;
}
.features-item-description  {
  font-size: 0.875em;
  text-align: center;
}
.features i {
  font-size: 3.75em;
  margin-bottom: 40px;
}
.features .fontawesome-icon {
  text-align: center;
}
/* reviews section */
.reviews {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background:  #2a423a;
  padding: 5px 0 10px;
}
.reviews h2 {
  font-size: 1.750em;
  font-weight: 500;
}
.reviews h3 {
  font-size: 1.125em;
  width: 60%;
}
.reviews p {
  font-size: 0.750em;
  font-weight: 400;
}


/* ===== About Page ===== */

/* mission section */
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #527158;
  padding: 10px 0 20px;
}
.mission-content h2 {
  font-size: 1.650em;
  line-height: 1.125em;
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0 0;

}
.mission-content p {
  font-size: 0.875em;
  line-height: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.map figure {
  position: relative;
  padding-bottom: 125%;
  overflow: hidden;
  height: 0;
  width: 100%;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* contact section */
.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #2a423a;
  padding: 10px 0 10px;
}
.contact-section h2 {
  font-size: 1.700em;
  line-height: 1.1em;
  font-weight: 400;
}
.contact-section h3 {
  font-size: 1.125em;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 0px;
}
.contact-section p {
  font-size: 0.75em;
  font-family: 'Open Sans', sans-serif;
  padding-top: 0px;
  margin: 0 0;
}

/* ===== FAQ Page =====*/
.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #527158;
}
.faq-section .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 10px 0 0 0;
}
.faq-section h2 {
  font-size: 1.875em;
  margin-bottom: 30px;
}
.faq-section h3 {
  font-size: 1.125em;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}
.faq-section p {
  font-size: 0.875em;
  font-family: 'Open Sans', sans-serif;
}
.faq-part {
  margin-bottom: 30px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  
  .content-wrapper {
    max-width: 650px;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
  }
  header .content-wrapper {
    width: 100%;
    justify-content: space-between; 
  }
  .header-divider {
    display: none;
  }
  header nav {
   width: 40%;
  }
  header nav ul li {
    font-size: 1em;
    font-weight: 700;
  }
  header figure {
    width: 40%;
  }
  .hero {
    min-height: 600px;
  }
  .hero h2 {
    font-size: 3em;
    line-height: 1em;
    padding-top: 0px;
    margin: 0 0;
  }
 /* aside section */
  /* aside {
    height: 240px;
  } */
  aside .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    /* width: 645px; */
    margin: 20px 0 0;
    padding-bottom: 30px;
  }
  aside .content-wrapper .form-description {
    width: 45%;
    margin: 0;
  }
  aside .content-wrapper .form {
    width: 45%;
    margin: 0;
  }
  aside h3 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
  }
  aside p {
    font-size: 0.875em;
    font-family: 'Open Sans', sans-serif;
  }
  /* features section */
  .features {
    padding: 10px 0 30px;
    margin: 0;
  }
  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
  }
  .features h2 {
    font-size: 2.25em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 30px;
  }
  .features-item-description {
    width: 50%;
  }
  .features-item-description p { 
    font-size: 0.700em;
    font-family: 'Open Sans', sans-serif;
  }

  /* reviews section */
  .reviews {
    padding: 20px 20px;
    margin: 0px;
  }
  .reviews article {
    display: flex;
    justify-content: space-between;
  }
  .reviews article figure, .reviews article div {
    width: 48%; 
  }
  .reviews h2 {
    font-size: 2.125em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  .reviews h3 {
    font-size: 1.125em;
  }
  .reviews p {
    font-size: 0.875em;
    font-family: 'Open Sans', sans-serif;
  }

  /* footer section */
  footer .content-wrapper {
    width: 80%;
    margin: 40px 0 70px;
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }
  footer .copyright {
    width: 100%;
    padding-bottom: 10px;
  }
  footer h2 {
    font-size: 1.5em;
  }
  footer p {
    font-size: 0.875em;
  }

  /* ===== ABOUT Page ===== */
  
  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px 0;
  }
  .mission .mission-content h2 {
    font-size: 2em;
    padding-bottom: 20px;
  }
  .mission-content p {
    width: 45%;
    font-size: 0.875em;
  }
  .map figure {
    position: relative;
    padding-bottom: 40%;
    overflow: hidden;
    height: 0;
    width: 100%;
  }
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .contact-section .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 30px 0 50px;
    padding-left: 100px;
    padding-right: 0px;
    margin: 0px;
  }
  .contact-section h2 {
    width: 100%;
  }
  .contact-section .information, .contact-section .facilitator-information {
    width: 50%;
  }

  /* ===== FAQ Page =====*/
    .faq-section .content-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
    }
    .faq-part {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-flow: row wrap;
      padding: 40px 15px 60px; 
    }
    .faq-section .faq-part article{
      width: 45%;
    }
    .faq-part h2 {
      width: 100%;
      font-size: 2.25em;
    }
    .faq-part h3 {
      font-size: 0.875em;
    }
    .faq-part p {
      font-size: 0.750em;
    }
}
@media only screen and (min-width: 1200px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    margin: 0;
  }
  .content-wrapper {
    max-width: 1200px;
  }
  header figure {
    width: 25%;
  }
  .header-divider {
    border: none;
  }
  header nav {
   width: 20%;
  }

  /* hero section */
  .hero h2 {
    font-size: 3.75em;
    padding: 0px;
    margin: 0 0;
    width:60%;
  }
 /* aside section */
  aside .content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    margin: 40px 0 30px;
  }
  aside .content-wrapper .form-description {
    width: 30%;
    margin: 0;
    flex-flow: stretch;
    
  }
  aside .content-wrapper .form {
    width: 35%;
    margin: 0;
  }
  aside h3 {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
  }
  aside p {
    font-size: 1.125em;
    font-family: 'Open Sans', sans-serif;
  }
  /* features section */
  .features .content-wrapper{
    padding: 40px 0 50px;
  }
  .features h2 {
    font-size: 2.7em;
    padding-left: 50px;

  }
  .features article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 30%;
  }
  article p { 
    font-size: 1.25em;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
  }

  /* reviews section */
  .reviews {
    padding: 40px 20px;
    margin: 0px;
  }
  .reviews article {
    display: flex;
    justify-content: space-around; 
    /* align-items: stretch; */
  }
  .reviews article div{
    width: 47%;
  }
  .reviews h2 {
    font-size: 2.25em;
    padding: 20px 0 50px 20px;
  }
  .reviews h3 {
    font-size: 1.8em;
    width: 65%;
  }
  .reviews p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
  }

  /* footer section */
  footer .content-wrapper {
    margin: 50px 0 70px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  footer .contact, footer .social {
    width: 30%;
  }
  

  /* ===== ABOUT Page ===== */
  
  .mission {
    width: 100%;
    padding: 50px 0;
  }
  .mission .mission-content h2 {
    width: 95%;
    font-size: 3em;
  }
  .mission-content p {
    width: 40%;
    font-size: 1.125em;
  }
  .map figure {
    position: relative;
    padding-bottom: 35%;
    overflow: hidden;
    height: 0;
    width: 100%;
  }
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .contact-section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row nowrap;
    padding: 50px 0;
    margin: 0 0;
  }
  .contact-section h2 {
    font-size: 3em;
  }
  .contact-section h3 {
    font-size: 1.85em;
  }
  .contact-section p {
    font-size: 1.125em;
  }
  .contact-section .information, .contact-section .facilitator-information {
    width: 50%;
    margin: 0 0;
  }

  footer h2 {
    font-size: 1.875em;
  }
  footer p {
    font-size: 1.125em;
  }
  footer .content-wrapper {
    width: 80%;
    padding-bottom: 20px;
  }
  
  
  /* ===== FAQ Page =====*/
    .faq-section .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .faq-part {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding: 40px 15px 60px; 
    }
    .faq-section .faq-part article{
      width: 40%;
    }
    .faq-part h2 {
      font-size: 3em;
    }
    .faq-part h3 {
      font-size: 1.125em;
    }
    .faq-part p {
      font-size: 0.875em;
    }
}
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

